
        body {
            font-family: 'Segoe UI', Arial, sans-serif;
            background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 600px;
            margin: 40px auto;
            background: #fffbe7;
            border-radius: 16px;
            box-shadow: 0 4px 24px rgba(0,0,0,0.08);
            padding: 32px;
        }
        h1 {
            text-align: center;
            color: #ff7e5f;
            margin-bottom: 14px;
        }
        h2 {
            text-align: center;
            color: #b14c33;
            margin-bottom: 14px;
        }
        h3 {
            text-align: center;
            color: #803d2c;
            margin-bottom: 10px;
        }
        ul {
            list-style: none;
            padding: 0;
        }
        li {
            background: #ffe0b2;
            margin-bottom: 12px;
            padding: 16px;
            border-radius: 8px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 1.1em;
            box-shadow: 0 2px 8px rgba(255,126,95,0.05);
        }

        span{
            text-align: center;
            min-width: 65px;
        }

        .fruit-name {
            font-weight: bold;
            color: #ff7e5f;
        }
        .fruit-color {
            padding: 4px 12px;
            border-radius: 12px;
            color: #fff;
            font-size: 0.95em;
            min-width: 65px;
            text-align: center;
        }
        .rot { background: #e57373; }
        .gelb { background: #ffd54f; color: #333; }
        .orange { background: #ffb74d; }
        .grün { background: #81c784; }
        .lila { background: #ba68c8; }
        .braun { background: #8f3514; }
